
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
data/
screenshots/
videos/
.auth/
.vscode/
/src/config/.env.pre
/src/config/.env.prod
/src/logging/
/data/